body {
  height: 100vh;
  font-family: "Lato", sans-serif;
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
}

button {
  width: 200px;
  padding: 12px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: whitesmoke;
  background-color: #e48800;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.header-wrapper {
  background-color: teal;
  padding: 32px 160px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.nav-link {
  display: flex;
}

.nav-link ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-link ul li {
  float: left;
}

.nav-link ul li a {
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
}

.nav-link ul li a:hover {
  color: #e48800;
}

.active {
  color: #e48800;
}

.header {
  display: flex;
  justify-content: space-around;
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 32px;
}

.header-text .first-line {
  display: flex;
  font-size: 32px;
}

.header-text h1 {
  margin: 1rem;
  color: whitesmoke;
}

.header-text-button {
  margin-top: 48px;
}

.header-image img {
  width: 100%;
  max-width: 500px;
  height: auto;
}
